body {
<<<<<<< HEAD
  background-image: url(../img/bananas.png);
=======
  background-image: url(../img/logo_x_pattern.png);
>>>>>>> parent of 977dcf9 (changes to background)
}

.logo {
  font-family: 'Monoton', cursive;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}