.navbar-brand {
  font-family: 'Monoton', cursive;
  font-size: 40px;
}

body {
<<<<<<< HEAD
  background-image: url(../img/bananas.png);
=======
  background-image: url(../img/logo_x_pattern.png);
>>>>>>> parent of 977dcf9 (changes to background)
}
